{
  "swagger": "2.0",
  "host": "tuleap.net",
  "basePath": "\/api",
  "produces": ["application\/json", "application\/xml"],
  "consumes": ["application\/json", "application\/xml"],
  "info": { "version": "16.9.99.133-1", "title": "Tuleap API" },
  "paths": {
    "\/projects": {
      "post": {
        "operationId": "create\\Tuleap\\Project\\REST\\v1\\ProjectResource",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "dry_run",
            "type": "boolean",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "post_representation",
            "description": "shortname  \ndescription  \nlabel  \nis_public  \nallow_restricted  \ntemplate_id  \nxml_template_name  \ncategories  \nfields  \nfrom_archive  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\ProjectPostRepresentation"
            }
          }
        ],
        "summary": "Creates a new Project \ud83d\udd10",
        "description": "Creates a new project in Tuleap. <br> <br> Here is an example of JSON content to ask for a project creation with a Tuleap project template: <br> <pre> {<br> &nbsp; \"shortname\": \"project-shortname\",<br> &nbsp; \"description\": \"Project Description\",<br> &nbsp; \"label\": \"Project Label\",<br> &nbsp; \"is_public\": true,<br> &nbsp; \"allow_restricted\": true,<br> &nbsp; \"template_id\": 100,<br> &nbsp; \"categories\":[<br> &nbsp;&nbsp; {<br> &nbsp;&nbsp;&nbsp; \"category_id\": 4,<br> &nbsp;&nbsp;&nbsp; \"value_id\": 5<br> &nbsp;&nbsp; }<br> &nbsp;],<br> &nbsp; \"fields\": [<br> &nbsp;&nbsp; {<br> &nbsp;&nbsp;&nbsp; \"field_id\": 1,<br> &nbsp;&nbsp;&nbsp; \"value\": \"Project custom field value\"<br> &nbsp;&nbsp; }<br> &nbsp;]<br> }<br> <\/pre> Here is an example of JSON content to ask for a project creation with an XML template: <br> <pre> {<br> &nbsp; \"shortname\": \"project-shortname\",<br> &nbsp; \"description\": \"Project Description\",<br> &nbsp; \"label\": \"Project Label\",<br> &nbsp; \"is_public\": true,<br> &nbsp; \"allow_restricted\": true,<br> &nbsp; \"xml_template_name\": \"empty\",<br> &nbsp; \"categories\":[<br> &nbsp;&nbsp; {<br> &nbsp;&nbsp;&nbsp; \"category_id\": 4,<br> &nbsp;&nbsp;&nbsp; \"value_id\": 5<br> &nbsp;&nbsp; }<br> &nbsp;],<br> &nbsp; \"fields\": [<br> &nbsp;&nbsp; {<br> &nbsp;&nbsp;&nbsp; \"field_id\": 1,<br> &nbsp;&nbsp;&nbsp; \"value\": \"Project custom field value\"<br> &nbsp;&nbsp; }<br> &nbsp;]<br> }<br> <\/pre> Here is an example of JSON content to ask for a project creation with a Zip archive file:<br> You will get an URL where the file needs to be uploaded using the <a href=\"https:\/\/tus.io\/protocols\/resumable-upload.html\">tus resumable upload protocol<\/a> to validate the item creation. You will need to use the same authentication mechanism you used to call this endpoint. <br\/> <br\/> <pre> {<br> &nbsp; \"shortname\": \"project-shortname\",<br> &nbsp; \"description\": \"Project Description\",<br> &nbsp; \"label\": \"Project Label\",<br> &nbsp; \"is_public\": true,<br> &nbsp; \"allow_restricted\": true,<br> &nbsp; \"from_archive\": {<br> &nbsp;&nbsp;&nbsp;\"file_name\": \"hierarchy.zip\",<br> &nbsp;&nbsp;&nbsp;\"file_size\": 2838<br> &nbsp;},<br> &nbsp; \"categories\":[<br> &nbsp;&nbsp; {<br> &nbsp;&nbsp;&nbsp; \"category_id\": 4,<br> &nbsp;&nbsp;&nbsp; \"value_id\": 5<br> &nbsp;&nbsp; }<br> &nbsp;],<br> &nbsp; \"fields\": [<br> &nbsp;&nbsp; {<br> &nbsp;&nbsp;&nbsp; \"field_id\": 1,<br> &nbsp;&nbsp;&nbsp; \"value\": \"Project custom field value\"<br> &nbsp;&nbsp; }<br> &nbsp;]<br> }<br> <\/pre> If template_id is provided along others templates type, only template_id will be taken in account<br> If`xml_template_name` and `from_archive` are provided, only `xml_template_name` will be taken in account <br> <br> To see if your project creation data are correctly set, you can use the ?dry_run=true option. <br> All errors (if found) will be returned at once. <br> Note: dry run is not allowed when creating a project from an archive.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "204": { "description": "No Content" },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "429": { "description": "Too Many Requests" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "get": {
        "operationId": "retrieve\\Tuleap\\Project\\REST\\v1\\ProjectResource",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "query",
            "type": "string",
            "description": "JSON object of search criteria properties",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get projects \u25d1",
        "description": "Get the public projects and the projects the current user is member of. <p> If current user is site administrator, then returns all active projects. <br> <br> ?query is optional. When filled, it is a json object with either: <ul> <li>a property \"shorname\" to search on shortname with exact match. Example: <pre>{\"shortname\": \"guinea-pig\"}<\/pre> <\/li> <li>a property \"is_member_of\" to search projects the current user is member of. Example: <pre>{\"is_member_of\": true}<\/pre> <\/li> <li>a property \"is_admin_of\" to search projects the current user is admin of. Example: <pre>{\"is_admin_of\": true}<\/pre> <\/li> <li>a property \"is_tracker_admin\" to search projects the current user is administrator of at least one tracker. Example: <pre>{\"is_tracker_admin\": true}<\/pre> <\/li> <li>a property \"with_status\" to search projects the current user is member of with a specific status. Example: <pre>{\"with_status\": \"deleted\"}<\/pre> <\/li> <li>a property \"with_time_tracking\" to search projects with enabled timetracking. Example: <pre>{\"with_time_tracking\": true}<\/pre> <\/li> <\/ul> <\/p> <p> <strong>\/!\\<\/strong> Please note that {\"is_member_of\": false} is not supported and will result in a 400 Bad Request error. <\/p> <p> <strong>\/!\\<\/strong> Please note that {\"is_tracker_admin\": false} is not supported and will result in a 400 Bad Request error. <\/p> <p> <strong>\/!\\<\/strong> Please note that querying with { \"with_status\" } will throw a 403 Forbidden Error if you are not member of the REST project management delegation. <\/p>\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { "$ref": "#\/definitions\/Tuleap\\Project\\REST\\ProjectRepresentation" }
            }
          },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveId",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get project \u25d1",
        "description": "Get the definition of a given project\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      },
      "patch": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceModifyProject",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "patch_resource",
            "description": "status  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\PATCHProjectRepresentation"
            }
          }
        ],
        "summary": "Project partial update \u25d1",
        "description": "Partial update of a Project <br\/> <br\/> This partial update allows a REST project manager to toggle the status of a given project from active to suspended and conversely. <br\/> <br\/> Example: <pre> { \"status\": \"suspended\" } <\/pre>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/heartbeats": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveHeartbeats",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get heartbeats \u25d1",
        "description": "Get the latest activities of a given project",
        "responses": { "200": { "description": "Success", "schema": { "type": "string" } } },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/labels": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveLabels",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "Search particular label, if not used, returns all project labels",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 50,
            "minimum": 1,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get labels \u25d1",
        "description": "Get labels used by the project <p><code>query<\/code> parameter allows you to search for a particular label with wildcard<\/p>\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { "$ref": "#\/definitions\/LabelRepresentation" }
            }
          }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}\/user_groups": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveUserGroups",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "JSON object of filtering options",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get user_groups \u25d1",
        "description": "Get the user_groups of a given project. <br\/> <strong>query<\/strong> is optional with json format: <pre>{\"with_system_user_groups\": true}<\/pre> With \"system_user_groups = true\", system user groups may be returned (if allowed by platform). Otherwise, these groupes are excluded.\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\UserGroupRepresentation"
              }
            }
          },
          "400": { "description": "Bad Request" },
          "500": { "description": "\\Tuleap\\REST\\Exceptions\\InvalidJsonException" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}\/svn": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveSvn",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "Optional search string in json format",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get svn \u25d1",
        "description": "Get info about project SVN repositories <br> <pre> \"repositories\": [{<br> &nbsp;\"id\" : 90,<br> &nbsp;\"project\": {...},<br> &nbsp;\"uri\": \"svn\/90\",<br> &nbsp;\"name\": \"repo\",<br> }<br> ...<br> ] <\/pre> <br\/> <br\/> ?query must be a json object to search on name with exact match: {\"name\": \"repository01\"}",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/Tuleap\\REST\\v1\\SvnRepositoryRepresentationBase"
              }
            }
          },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/banner": {
      "put": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceUpdateBanner",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "banner",
            "description": "message  \n",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\BannerRepresentation" }
          }
        ],
        "summary": "Put banner \ud83d\udd10",
        "description": "Put the banner message to be displayed <br> <pre> {<br> &nbsp;\"message\": \"A message to be displayed on the project\"<br> }<br> <\/pre>",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "delete": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRemoveBanner",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Delete the banner message \ud83d\udd10",
        "description": "",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveBanner",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get banner \u25d1",
        "description": "Get the banner\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\BannerRepresentation" }
          },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}\/header_background": {
      "put": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceUpdateBackgroundHeader",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "header_background_representation",
            "description": "identifier  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\HeaderBackgroundRepresentation"
            }
          }
        ],
        "summary": "Put a header background to the project \ud83d\udd10",
        "description": "",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "delete": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRemoveHeaderBackground",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Delete the header background \ud83d\udd10",
        "description": "",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/phpwiki": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrievePhpWiki",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "pagename",
            "type": "string",
            "description": "Part of the pagename or the full pagename to search",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get PhpWiki pages \u25d1",
        "description": "Get info about project non empty PhpWiki pages.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { "$ref": "#\/definitions\/Tuleap\\REST\\v1\\PhpWikiPageRepresentation" }
            }
          }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/project_services": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveServices",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get services \u25d1",
        "description": "Get all services that are available in the projects.\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\ServiceRepresentation"
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}\/extract_references": {
      "post": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceExtractReferences",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceExtractReferencesModel",
            "description": "**text** (required)  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/\\Tuleap\\Project\\REST\\v1\\ProjectResourceExtractReferencesModel"
            }
          }
        ],
        "summary": "Extract references \u25d1",
        "description": "Return given text with detected Tuleap references converted into clickable links\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}\/3rd_party_integration_data": {
      "get": {
        "operationId": "\\Tuleap\\Project\\REST\\v1\\ProjectResourceRetrieveThirdPartyIntegrationData",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "ID of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "currently_active_service",
            "type": "string",
            "description": "The currently active service name",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get data needed for third party integration \u25d1",
        "description": "This endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:project<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Project\\REST\\v1\\ThirdPartyIntegrationDataRepresentation"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:project"] }]
      }
    },
    "\/projects\/{id}\/docman_metadata": {
      "get": {
        "operationId": "tuleap\\Docman\\REST\\v1\\ProjectMetadataResourceRetrieveDocmanMetadata",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get docman metadata \u25d1",
        "description": "Get metadata of a particular project <br> <pre> \"metadata\": [{<br> &nbsp;\"id\" : 90,<br> &nbsp;\"is_required\": true,<br> &nbsp;\"is_multiple\": true,<br> &nbsp;\"allowed_list_values\": \"[ <br> &nbsp; &nbsp;id: 100,<br> &nbsp; &nbsp;value: \"text value\"<br> ]\",<br> }<br> ...<br> ] <\/pre> <br\/>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/Tuleap\\REST\\v1\\ProjectConfiguredMetadataRepresentation"
              }
            }
          },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/docman_service": {
      "get": {
        "operationId": "tuleap\\Docman\\REST\\v1\\Service\\DocmanServiceResourceRetrieveService",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get document manager service \u25d1",
        "description": "Gte information about the document manager for a given project",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Docman\\REST\\v1\\Service\\DocmanServiceRepresentation"
            }
          },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/git": {
      "get": {
        "operationId": "tuleap\\Git\\REST\\v1\\GitProjectResourceRetrieveGit",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "fields",
            "type": "string",
            "default": "basic",
            "enum": ["basic", "all"],
            "description": "Whether you want to fetch permissions or just repository info",
            "in": "query",
            "required": false
          },
          {
            "name": "query",
            "type": "string",
            "description": "Filter repositories",
            "in": "query",
            "required": false
          },
          {
            "name": "order_by",
            "type": "string",
            "default": "push_date",
            "enum": ["push_date", "path"],
            "description": "",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get git \u25d1",
        "description": "Get info about project Git repositories. Repositories are returned ordered by last_push date, if there are no push yet, it's the creation date of the repository that is taken into account. <br> The total number of repositories returned by 'x-pagination-size' header corresponds to ALL repositories, including those you cannot view so you might retrieve a lower number of repositories than 'x-pagination-size'. <br> <br> With fields = 'basic', permissions is always set as <strong>NULL<\/strong> <br> <br> Basic example: <br> <br> <pre> \"repositories\": [{<br> &nbsp;\"id\" : 90,<br> &nbsp;\"uri\": \"git\/90\",<br> &nbsp;\"name\": \"repo\",<br> &nbsp;\"path\": \"project\/repo.git\",<br> &nbsp;\"description\": \"-- Default description --\",<br> &nbsp;\"permissions\": null<br> }<br> ...<br> ] <\/pre> <br> <br> All example: <br> <br> <pre> \"repositories\": [{<br> &nbsp;\"id\" : 90,<br> &nbsp;\"uri\": \"git\/90\",<br> &nbsp;\"name\": \"repo\",<br> &nbsp;\"path\": \"project\/repo.git\",<br> &nbsp;\"description\": \"-- Default description --\",<br> &nbsp;\"permissions\": {<br> &nbsp; \"read\": [<br> &nbsp; &nbsp;{<br> &nbsp; &nbsp; \"id\": \"116_2\",<br> &nbsp; &nbsp; \"uri\": \"user_groups\/116_2\",<br> &nbsp; &nbsp; \"label\": \"registered_users\",<br> &nbsp; &nbsp; \"users_uri\": \"user_groups\/116_2\/users\"<br> &nbsp; &nbsp;}<br> &nbsp; ],<br> &nbsp; \"write\": [<br> &nbsp; &nbsp;{<br> &nbsp; &nbsp; \"id\": \"116_3\",<br> &nbsp; &nbsp; \"uri\": \"user_groups\/116_3\",<br> &nbsp; &nbsp; \"label\": \"project_members\",<br> &nbsp; &nbsp; \"users_uri\": \"user_groups\/116_3\/users\"<br> &nbsp; &nbsp;}<br> &nbsp; ]<br> &nbsp; \"rewind\": [<br> &nbsp; &nbsp;{<br> &nbsp; &nbsp; \"id\": \"116_122\",<br> &nbsp; &nbsp; \"uri\": \"user_groups\/116_122\",<br> &nbsp; &nbsp; \"label\": \"admins\",<br> &nbsp; &nbsp; \"users_uri\": \"user_groups\/116_122\/users\"<br> &nbsp; &nbsp;}<br> &nbsp; ],<br> &nbsp;}<br> }<br> ...<br> ] <\/pre> <br> You can use <code>query<\/code> parameter in order to filter results. You can filter for example on scope or owner_id. By default, all repositories are returned. <table class=\"tlp-table\"> <thead> <tr> <th>Query example<\/th> <th>Description<\/th> <\/tr> <\/thead> <tbody> <tr> <td> `{ \"scope\": \"project\" }` <\/td> <td> return only project repositories. <\/td> <\/tr> <tr> <td> `{ \"scope\": \"individual\" }` <\/td> <td> return only forked repositories. <\/td> <\/tr> <tr> <td> `{ \"owner_id\": 123 }` <\/td> <td> return all repositories created by user with id `123`. <\/td> <\/tr> <tr> <td> `{ \"scope\": \"individual\", \"owner_id\": 123 }` <\/td> <td> return all repositories forked by user with id `123`. <\/td> <\/tr> <tr> <td> `{ \"allow_creation_of_branch\": \"acme\" }` <\/td> <td> return only repositories where current user can create `acme` branch. <\/td> <\/tr> <\/tbody> <\/table>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Git\\REST\\v1\\GitRepositoryListRepresentation"
            }
          },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/trackers": {
      "get": {
        "operationId": "tuleap\\Tracker\\REST\\v1\\ProjectTrackersResourceRetrieveTrackers",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "representation",
            "type": "string",
            "default": "full",
            "enum": ["full", "minimal"],
            "description": "Whether you want to fetch full or reference only representations",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "query",
            "type": "string",
            "description": "JSON object of search criteria properties",
            "in": "query",
            "required": false
          },
          {
            "name": "with_creation_semantic_check",
            "type": "array",
            "items": { "$ref": "#\/definitions\/string" },
            "description": "Include the list of reasons why an artifact cannot be created with only the given semantics",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get trackers \u25d1",
        "description": "Get the trackers of a given project. Fetching reference representations can be helpful if you encounter performance issues with complex trackers. <br\/> query is optional. When filled, it is a json object with a property \"is_tracker_admin\" or \"with_time_tracking\" to filter trackers. <br\/> <br\/> Example: <pre>{\"is_tracker_admin\": true}<\/pre> <pre>{\"with_time_tracking\": true}<\/pre> <br\/> <p> \u26a0 Please note that {\"is_tracker_admin\": false} is not supported and will result in a 400 Bad Request error. <\/p> <p> \u26a0 Notes about <code>with_creation_semantic_check<\/code> key: <ul> <li> Supported semantic: <ul> <li> Title <\/li> <\/ul> <\/li> <li> It's only available with the <strong>minimal<\/strong> representation, full representation will return 400 Bad Request error<\/li> <li> The <code>cannot_create_reasons<\/code> key in the result which contains the list of all reasons that prevent you from creating an artifact <\/li> <\/ul> <\/p>\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:tracker<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { "$ref": "#\/definitions\/Tuleap\\Tracker\\REST\\TrackerRepresentation" }
            }
          },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:tracker"] }]
      }
    },
    "\/projects\/{id}\/plannings": {
      "get": {
        "operationId": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceRetrievePlannings",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get plannings \u25d1",
        "description": "Get the plannings of a given project",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/milestones": {
      "get": {
        "operationId": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceRetrieveMilestones",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "fields",
            "type": "string",
            "default": "all",
            "enum": ["all", "slim"],
            "description": "Set of fields to return in the result",
            "in": "query",
            "required": false
          },
          {
            "name": "query",
            "type": "string",
            "description": "JSON object of search criteria properties",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "order",
            "type": "string",
            "default": "asc",
            "enum": ["asc", "desc"],
            "description": "In which order milestones are fetched. Default is asc",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get milestones \u25d1",
        "description": "Get the top milestones of a given project <p> $query parameter is optional, by default we return all milestones. If query={\"status\":\"open\"} then only open milestones are returned, if query={\"status\":\"closed\"} then only closed milestones are returned, if query={\"period\":\"future\"} then only milestones planned are returned and if query={\"period\":\"current\"} then only current milestones are returned. <\/p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/backlog": {
      "get": {
        "operationId": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceRetrieveBacklog",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 100,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get backlog \u25d1",
        "description": "Get the backlog items that can be planned in a top-milestone",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        },
        "security": [{ "api_access_key": [] }]
      },
      "put": {
        "operationId": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceUpdateBacklog",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceUpdateBacklogModel",
            "description": "**ids** (required)  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceUpdateBacklogModel"
            }
          }
        ],
        "summary": "Set order of all backlog items \u25d1",
        "description": "Order all backlog items in top backlog",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "patch": {
        "operationId": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceModifyBacklog",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceModifyBacklogModel",
            "description": "order  \nadd  \nremove  \n",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#\/definitions\/\\Tuleap\\AgileDashboard\\REST\\v1\\AgileDashboardProjectResourceModifyBacklogModel"
            }
          }
        ],
        "summary": "Re-order backlog items relative to others \u25d1",
        "description": "Re-order backlog items in top backlog relative to each other <br> Order example: <pre> \"order\": { \"ids\" : [123, 789, 1001], \"direction\": \"before\", \"compared_to\": 456 } <\/pre> <br> Resulting order will be: <pre>[\u2026, 123, 789, 1001, 456, \u2026]<\/pre> <br> Add example: <pre> \"add\": [ { \"id\": 34 \"remove_from\": 56 }, ... ] <\/pre> <br> Remove example (only available for project using explicit backlog management): <pre> \"Remove\": [ { \"id\": 34 }, ... ] <\/pre> <br> Will remove element id 34 from milestone 56 backlog",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "500": { "description": "Internal Server Error" },
          "409": { "description": "Conflict" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/git_jenkins_servers": {
      "get": {
        "operationId": "tuleap\\HudsonGit\\REST\\v1\\GitJenkinsServersResourceRetrieveGitJenkinsServers",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get all Git Jenkins servers that are available in the projects \ud83d\udd10",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\HudsonGit\\REST\\v1\\JenkinsServerRepresentationCollection"
            }
          },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/frs_packages": {
      "get": {
        "operationId": "tuleap\\FRS\\REST\\v1\\ProjectResourceRetrieveFRSPackages",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get FRS packages \u25d1",
        "description": "Get the list of packages in the project",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/\\Tuleap\\FRS\\REST\\v1\\PackageMinimalRepresentation"
              }
            }
          },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/frs_service": {
      "get": {
        "operationId": "tuleap\\FRS\\REST\\v1\\ProjectResourceRetrieveService",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get File Release System service \u25d1",
        "description": "Get metadata about the file release system service for a given project",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#\/definitions\/\\Tuleap\\FRS\\REST\\v1\\ServiceRepresentation" }
          },
          "404": { "description": "Not Found" },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/labeled_items": {
      "get": {
        "operationId": "\\Tuleap\\Label\\REST\\v1\\ProjectResourceRetrieveLabeledItems",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "Search string in json format",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 50,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get Labeled Items \u25d1",
        "description": "\/!\\ This route is under construction Get labeled items of this project. <p><b>query<\/b> is a json object with:<\/p> <p>an array \"labels_id\" to search on all the given labels. When more than one label's id is provided, an AND operator is applied. <br> For example: { \"labels_id\": [ 10, 27] } will show all items that have both label 10 AND label 27. <br> Example: <pre>{\"labels_id\": [10,27]}<\/pre> <\/p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#\/definitions\/CollectionOfLabeledItemsRepresentation" }
          }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/testmanagement_campaigns": {
      "get": {
        "operationId": "tuleap\\TestManagement\\REST\\v1\\ProjectResourceRetrieveCampaigns",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "JSON object of search criteria properties",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get campaigns \u25d1",
        "description": "Get testing campaigns for a given project",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/testmanagement_definitions": {
      "get": {
        "operationId": "tuleap\\TestManagement\\REST\\v1\\ProjectResourceRetrieveDefinitions",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "report_id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the report from which to get the definitions",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get test definitions \ud83d\udd10",
        "description": "Get all test projects for a given project",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/mediawiki_standalone_permissions": {
      "get": {
        "operationId": "tuleap\\MediawikiStandalone\\REST\\v1\\MediawikiStandaloneProjectResourceRetrievePermissions",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get Mediawiki permissions of the current user \u25d1",
        "description": "This endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:mediawiki_standalone<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\MediawikiStandalone\\REST\\v1\\GetPermissionsRepresentation"
            }
          }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:mediawiki_standalone"] }]
      }
    },
    "\/projects\/{id}\/baselines": {
      "get": {
        "operationId": "tuleap\\Baseline\\REST\\ProjectBaselinesResourceRetrieveBaselines",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "minimum": 1,
            "maximum": 50,
            "description": "Number of elements to fetch (not authorized element are hidden, so you may get less element than requested)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display (first position is 0). Baselines are sorted by snapshot date (most recent first)",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get baselines \u25d1",
        "description": "Get all the baselines of a given project. \/!\\ Some baseline may be filtered with security reason, but total count returned represents all available baselines INCLUDING the ones you're not authorized to see.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Baseline\\REST\\BaselinesPageRepresentation"
            }
          },
          "404": { "description": "Not Found" },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/baselines_comparisons": {
      "get": {
        "operationId": "tuleap\\Baseline\\REST\\ProjectComparisonsResourceRetrieveComparisons",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 50,
            "minimum": 1,
            "maximum": 50,
            "description": "Number of elements to fetch (not authorized element are hidden, so you may get less element than requested)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display (first position is 0). Comparisons are sorted by creation date (most recent first)",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get baselines comparisons \u25d1",
        "description": "Get all the baselines comparisons of a given project. \/!\\ Some comparisons may be filtered with security reason, but total count returned represents all available comparisons INCLUDING the ones you're not authorized to see.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Baseline\\REST\\ComparisonsPageRepresentation"
            }
          },
          "500": { "description": "ForbiddenRestException" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/gitlab_repositories": {
      "get": {
        "operationId": "tuleap\\Gitlab\\REST\\v1\\GitlabProjectResourceRetrieveGitlabRepositories",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the project",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "minimum": 1,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "GET Gitlab Integrations. \u25d1",
        "description": " \/!\\ This route is under construction. <br> Retrieve all Gitlab integration for a given project.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/program_plan": {
      "put": {
        "operationId": "tuleap\\ProgramManagement\\REST\\v1\\ProjectResourceUpdatePlan",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the program project",
            "in": "path",
            "required": true
          },
          {
            "name": "representation",
            "description": "program_increment_tracker_id  \nplannable_tracker_ids  \npermissions  \nprogram_increment_label  \nprogram_increment_sub_label  \niteration  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\ProgramManagement\\REST\\v1\\ProjectResourcePutPlanRepresentation"
            }
          }
        ],
        "summary": "Define a program plan \ud83d\udd10",
        "description": "Define which tracker is program increment and which trackers can be planned in it. It also lets you define which user groups have permission to plan in program increments. <br\/> <strong>\"program_increment_label\"<\/strong> and <strong>\"program_increment_sub_label\"<\/strong> are optional. They will be used to set a custom label for Program Increment in the UI. <br\/> The following values are used by default: <pre> {<br\/> &nbsp;\"program_increment_label\": \"Program Increments\",<br\/> &nbsp;\"program_increment_sub_label\": \"program increment\"<br\/> } <\/pre> <br\/> <strong>\"iteration\"<\/strong> is optional. It permits to configure iteration tracker. <br\/> Example: <pre> {<br\/> &nbsp;\"iteration_tracker_id\": 115<br\/> } <\/pre> <br\/> <strong>\"iteration_label\"<\/strong> and <strong>\"iteration_sub_label\"<\/strong> are optional. They permit to set a custom label for iterations. <br\/> The following values are used by default: <pre> {<br\/> &nbsp;\"iteration_label\": \"Iterations\"<br\/> &nbsp;\"iteration_sub_label\": \"iteration\"<br\/> } <\/pre> <br\/>",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "404": { "description": "Not Found" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/program_teams": {
      "put": {
        "operationId": "tuleap\\ProgramManagement\\REST\\v1\\ProjectResourceUpdateTeam",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the program project",
            "in": "path",
            "required": true
          },
          {
            "name": "representation",
            "description": "team_ids  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\ProgramManagement\\REST\\v1\\ProjectResourcePutTeamsRepresentation"
            }
          }
        ],
        "summary": "Define team projects of a program \ud83d\udd10",
        "description": "",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "404": { "description": "Not Found" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/program_backlog": {
      "get": {
        "operationId": "tuleap\\ProgramManagement\\REST\\v1\\ProjectResourceRetrieveBacklog",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the program",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 50,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get program backlog \u25d1",
        "description": "Get the to be planned elements of a program",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "patch": {
        "operationId": "tuleap\\ProgramManagement\\REST\\v1\\ProjectResourceModifyBacklog",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "ID of the program",
            "in": "path",
            "required": true
          },
          {
            "name": "backlog_patch_representation",
            "description": "add  \nremove  \nremove_from_program_increment_to_add_to_the_backlog  \norder  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\ProgramManagement\\REST\\v1\\BacklogPatchRepresentation"
            }
          }
        ],
        "summary": "Manipulate the program backlog \ud83d\udd10",
        "description": "Add or remove elements from program backlog <br> Add example: <pre> { \"add\": [ { \"id\": 34, } ], \"remove_from_program_increment_to_add_to_the_backlog\": true } <\/pre> <br> The feature with id 34 is removed from Program Increments linked and is added in program backlog. <br> <code>remove_from_program_increment_to_add_to_the_backlog<\/code> is not mandatory. If it's not set and the feature is linked to program increments, then feature will not be added to program backlog. <br><br> Reorder example: <pre> \"order\":{ \"ids\":[ 123 ], \"direction\":\"before\", \"compared_to\":456 }, <\/pre> The feature with id 123 is moved before feature with id 456. <code>direction<\/code> can be \"after\" or \"before\". <code>\"order\"<\/code> is not mandatory.",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/projects\/{id}\/program_increments": {
      "get": {
        "operationId": "tuleap\\ProgramManagement\\REST\\v1\\ProjectResourceRetrieveProgramIncrements",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "ID of the program",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 50,
            "minimum": 1,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get program increments \u25d1",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/tokens": {
      "post": {
        "operationId": "createTuleap\\Token\\REST\\v1\\TokenResource",
        "tags": ["tokens"],
        "parameters": [
          {
            "name": "createTuleap\\Token\\REST\\v1\\TokenResourceModel",
            "description": "**username** (required)  \n**password** (required)  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/createTuleap\\Token\\REST\\v1\\TokenResourceModel"
            }
          }
        ],
        "summary": "Generate a token \ud83d\udd13",
        "description": "Generate a token for authentication for the current user<br\/> <b>The use of a personal access key should be preferred, consult the documentation for more information<\/b>",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      },
      "delete": {
        "operationId": "tuleap\\Token\\REST\\v1\\TokenResourceRemoveAll",
        "tags": ["tokens"],
        "parameters": [],
        "summary": "Expire all tokens \ud83d\udd10",
        "description": "Expire all tokens of the current user<br> <b>The use of a personal access key should be preferred, consult the documentation for more information<\/b>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/tokens\/{id}": {
      "delete": {
        "operationId": "removeTuleap\\Token\\REST\\v1\\TokenResource",
        "tags": ["tokens"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the token",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Expire a token \ud83d\udd10",
        "description": "Expire a given token of the current user<br\/> <b>The use of a personal access key should be preferred, consult the documentation for more information<\/b>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/user_groups\/{id}": {
      "get": {
        "operationId": "tuleap\\Project\\REST\\v1\\UserGroupResourceRetrieveId",
        "tags": ["user_groups"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the ugroup This should be one of two formats<br> - format: projectId_ugroupId for dynamic project user groups (project members...)<br> - format: ugroupId for all other groups (registered users, custom groups, ...)",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get a user_group \u25d1",
        "description": "Get the definition of a given user_group\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:user_membership<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "$ref": "#\/definitions\/Tuleap\\Project\\REST\\UserGroupRepresentation" }
          },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:user_membership"] }]
      }
    },
    "\/user_groups\/{id}\/users": {
      "get": {
        "operationId": "tuleap\\Project\\REST\\v1\\UserGroupResourceRetrieveUsers",
        "tags": ["user_groups"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the ugroup This should be one of two formats<br> - format: projectId_ugroupId for dynamic project user groups (project members...)<br> - format: ugroupId for all other groups (registered users, custom groups, ...)",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "maximum": 50,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          },
          {
            "name": "query",
            "type": "string",
            "description": "User name to look for",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get users of a user_group \ud83d\udd10",
        "description": "Get the users of a given user_group <br> <br> ?query is optional. When filled, it is a json object: <ul> <li>With a property \"identifier\" to search if user_name is present in project_members. If user present it will retrieve its representation. Example: <pre>{\"identifier\": \"my_user_name\"}<\/pre> <\/li> <\/ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { "$ref": "#\/definitions\/\\Tuleap\\User\\REST\\UserRepresentation" }
            }
          },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "put": {
        "operationId": "tuleap\\Project\\REST\\v1\\UserGroupResourceUpdateUsers",
        "tags": ["user_groups"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the ugroup This should be one of two formats<br> - format: projectId_ugroupId for dynamic project user groups (project members...)<br> - format: ugroupId for all other groups (registered users, custom groups, ...)",
            "in": "path",
            "required": true
          },
          {
            "name": "tuleap\\Project\\REST\\v1\\UserGroupResourceUpdateUsersModel",
            "description": "**user_references** (required)  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/tuleap\\Project\\REST\\v1\\UserGroupResourceUpdateUsersModel"
            }
          }
        ],
        "summary": "Define users of a user_group \ud83d\udd10",
        "description": "Define the users of a given user_group <br><br> Notes on the user reference format. It can be: <ul> <li>* {\"id\": user_id}<\/li> <li>* {\"username\": user_name}<\/li> <li>* {\"email\": user_email}<\/li> <li>* {\"ldap_id\": user_ldap_id}<\/li> <\/ul> <br><br> <p>Concerning the group <b>project members<\/b>, please note:<\/p> <ul> <li>Suspended users will be removed from the group if they are not provided<\/li> <li>Suspended users will not be added to the group, even if they are provided<\/li> <li>Project admins will not be removed from the group, even if they are provided<\/li> <\/ul> <p>Concerning the group <b>project administrators<\/b>, please note that the users will be added if needed to the project members group. <\/p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/user_groups": {
      "post": {
        "operationId": "tuleap\\Project\\REST\\v1\\UserGroupResourceCreateUgroups",
        "tags": ["user_groups"],
        "parameters": [
          {
            "name": "user_group_representation",
            "description": "project_id  \nshort_name  \ndescription  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\Project\\REST\\UserGroupPOSTRepresentation"
            }
          }
        ],
        "summary": "POST user_groups \ud83d\udd10",
        "description": "Create an empty user_group",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users\/{id}": {
      "get": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceRetrieveId",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get a user \u25d1",
        "description": "Get the definition of a given user. <pre> Note that when accessing this route without authentication certain properties<br> will not be returned in the response. <\/pre> <br> The user ID can be either: <ul> <li>an integer value to get this specific user information<\/li> <li>the \"self\" value to get our own user information<\/li> <\/ul>",
        "responses": {
          "200": { "description": "Success", "schema": { "type": "string" } },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "patch": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceModifyUserDetails",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the user",
            "in": "path",
            "required": true
          },
          {
            "name": "tuleap\\User\\REST\\v1\\UserResourceModifyUserDetailsModel",
            "description": "**values** (required)  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/tuleap\\User\\REST\\v1\\UserResourceModifyUserDetailsModel"
            }
          }
        ],
        "summary": "Partial update of user details \ud83d\udd10",
        "description": "Things to take into account: <ol> <li>You don't need to set all 'values' of the user, you can restrict to the modified ones<\/li> <li>Possible fields are:\"email\", \"real_name\", \"username\" and \"status\" <li>Examples: To update a user status and username, the values must be an array: <pre> { \"status\" : \"S\" , \"username\": \"johnd\" } <\/pre> <\/li> <\/ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "500": { "description": "RestException" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users": {
      "get": {
        "operationId": "retrieveTuleap\\User\\REST\\v1\\UserResource",
        "tags": ["users"],
        "parameters": [
          {
            "name": "query",
            "type": "string",
            "minimum": 3,
            "description": "Search string (3 chars min in length)",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get users \u25d1",
        "description": "Get all users matching the query. <pre> Note that when accessing this route without authentication certain properties<br> will not be returned in the response. <\/pre> <br> ?query can be either: <ul> <li>a simple string, then it will search on \"real_name\" and \"username\" with wildcard<\/li> <li>a JSON object to search on username, login name or email with exact match: {\"username\": \"john_doe\"}, {\"loginname\": \"john_doe\"} or {\"email\": \"john.doe@example.com\"}<\/li> <\/ul> <pre> When using a JSON object, \"username\" is equivalent to \"loginname\" unless you are using an external auth provider such as an LDAP directory. \"username\" corresponds to the username of the Tuleap account, \"loginname\" corresponds to what the user uses to login on the Tuleap instance. <\/pre> <pre> When searching by email, you may get several matches. <\/pre>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "$ref": "#\/definitions\/UserRepresentation" } }
          }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users\/{id}\/membership": {
      "get": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceRetrieveMembership",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          },
          {
            "name": "scope",
            "type": "string",
            "enum": ["project"],
            "description": "null $scope Scope to project permissions or platform permissions",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "enum": ["id", "full"],
            "description": "null $format Special format to display the groups, only works with project scope",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get the list of user groups the given user is member of \ud83d\udd10",
        "description": "The user ID can be either: <ul> <li>an integer value to get this specific user information<\/li> <li>the \"self\" value to get our own user information<\/li> <\/ul> This list of groups is displayed as an array of string: <pre> [ \"site_active\", \"%project-name%_project_members\", \"%project-name%_project_admin\", \"ug_101\" ... ] <\/pre> If you choose the \"project\" scope, any platform group will not be presented as a result (ie: site_active in this case\"). <br \/> <br \/> If you choose the \"id\" format, which is only compatible with \"project\" scope you will get an array of group ids instead: <pre> [ \"102_3\", \"102_4\", \"108\" ... ] <\/pre> If you choose the \"full\" format, which is only compatible with \"project\" scope you will get an array of group of user groups: <pre> [ <br\/> &nbsp; { <br\/> &nbsp;\"id\": \"106_3\", <br\/> &nbsp;\"uri\": \"user_groups\/106_3\", <br\/> &nbsp;\"label\": \"Project members\", <br\/> &nbsp;\"users_uri\": \"user_groups\/106_3\/users\", <br\/> &nbsp;\"short_name\": \"project_members\", <br\/> &nbsp;\"key\": \"ugroup_project_members_name_key\", <br\/> &nbsp;\"project\": { <br\/> &nbsp; &nbsp;\"id\": 114, <br\/> &nbsp; &nbsp; \"uri\": \"projects\/114\", <br\/> &nbsp; &nbsp;\"label\": \"test\", <br\/> &nbsp; &nbsp; \"shortname\": \"test\", <br\/> &nbsp; &nbsp; \"status\": \"active\", <br\/> &nbsp; &nbsp; \"access\": \"public\", <br\/> &nbsp; &nbsp; \"is_template\": false <br\/> &nbsp; &nbsp; } <br\/> &nbsp; }, <br\/> ... <br\/> ] <\/pre>\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:user_membership<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": { "$ref": "#\/definitions\/UserGroupRepresentation | string" }
            }
          },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:user_membership"] }]
      }
    },
    "\/users\/{id}\/preferences": {
      "get": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceRetrievePreferences",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          },
          {
            "name": "key",
            "type": "string",
            "description": "Preference key",
            "in": "query",
            "required": true
          }
        ],
        "summary": "Get a user preference \u25d1",
        "description": "The user ID can be either: <ul> <li>an integer value to get this specific user information<\/li> <li>the \"self\" value to get our own user information<\/li> <\/ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\User\\REST\\v1\\UserPreferenceRepresentation"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "delete": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceRemovePreferences",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          },
          {
            "name": "key",
            "type": "string",
            "description": "Preference key",
            "in": "query",
            "required": true
          }
        ],
        "summary": "Delete a user preference \u25d1",
        "description": "The user ID can be either: <ul> <li>an integer value to get this specific user information<\/li> <li>the \"self\" value to get our own user information<\/li> <\/ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Internal Server Error" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "patch": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceModifyPreferences",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          },
          {
            "name": "preference",
            "description": "key  \nvalue  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\User\\REST\\v1\\UserPreferenceRepresentation"
            }
          }
        ],
        "summary": "Set a user preference \u25d1",
        "description": "The user ID can be either: <ul> <li>an integer value to get this specific user information<\/li> <li>the \"self\" value to get our own user information<\/li> <\/ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\User\\REST\\v1\\UserPreferenceRepresentation"
            }
          },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Internal Server Error" },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users\/{id}\/history": {
      "get": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceRetrieveHistory",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          }
        ],
        "summary": "Get the history of a user \u25d1",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#\/definitions\/Tuleap\\User\\REST\\v1\\UserHistoryRepresentation"
            }
          },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      },
      "put": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceUpdateHistory",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the desired user",
            "in": "path",
            "required": true
          },
          {
            "name": "tuleap\\User\\REST\\v1\\UserResourceUpdateHistoryModel",
            "description": "**history_entries** (required)  \n",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#\/definitions\/tuleap\\User\\REST\\v1\\UserResourceUpdateHistoryModel"
            }
          }
        ],
        "summary": "Clear the history of a user \u25d1",
        "description": "Arbitrary manipulations of the history other than clear are not accepted.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users\/{id}\/access_keys": {
      "get": {
        "operationId": "tuleap\\User\\REST\\v1\\UserResourceRetrieveAccessKeys",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "Id of the user",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 50,
            "minimum": 1,
            "maximum": 50,
            "description": "Number of elements displayed",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get the access keys of a user \ud83d\udd10",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/\\Tuleap\\User\\AccessKey\\REST\\UserAccessKeyRepresentation"
              }
            }
          },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users\/{id}\/artifacts": {
      "get": {
        "operationId": "tuleap\\Tracker\\REST\\Artifact\\UsersArtifactsResourceRetrieveArtifacts",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Id of the desired user, as of today only `self` is allowed to get current user's artifacts",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "What artifacts to retrieve",
            "in": "query",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Offset in the collection",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 250,
            "maximum": 250,
            "description": "Limit of the collection being returned",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get user's artifacts \ud83d\udd10",
        "description": "There are 2 types of \"user's artifact\": * The artifact the user submitted (query={\"submitted_by\": true}) * The artifact the user is assigned to (query={\"assigned_to\": true}) And you can combine both.\n\n\nThis endpoint can be accessed with an OAuth 2.0 access token with the scope <strong>read:tracker<\/strong>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }, { "oauth2": ["read:tracker"] }]
      }
    },
    "\/users\/{id}\/timetracking": {
      "get": {
        "operationId": "tuleap\\Timetracking\\REST\\v1\\User\\TimetrackingUserResourceRetrieveUserTimes",
        "tags": ["users"],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int64",
            "description": "user's id",
            "in": "path",
            "required": true
          },
          {
            "name": "query",
            "type": "string",
            "description": "JSON object of search criteria properties",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 100,
            "minimum": 1,
            "maximum": 100,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Get Timetracking times \ud83d\udd10",
        "description": "Get the times in all projects for the current user and a given time period <br><br> Notes on the query parameter <ol> <li>You have to specify a start_date and an end_date<\/li> <li>One day minimum between the two dates<\/li> <li>end_date must be greater than start_date<\/li> <li>Dates must be in ISO date format<\/li> <\/ol> Example of query: <br><br> { \"start_date\": \"2018-03-01T00:00:00+01\", \"end_date\" : \"2018-03-31T00:00:00+01\" }",
        "responses": {
          "200": {
            "description": "Success",
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          "400": { "description": "Bad Request" },
          "403": { "description": "Forbidden" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/users_memberships": {
      "get": {
        "operationId": "retrieveTuleap\\User\\REST\\v1\\UserMembershipResource",
        "tags": ["users_memberships"],
        "parameters": [
          {
            "name": "query",
            "type": "string",
            "enum": ["with_ssh_key"],
            "description": "Criterion to filter the results",
            "in": "query",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "format": "int64",
            "maximum": 1000,
            "description": "Number of elements displayed per page",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
            "description": "Position of the first element to display",
            "in": "query",
            "required": false
          }
        ],
        "summary": "Retrieve membership information for a set of users \ud83d\udd10",
        "description": "This resource will return user group membership information, i.e. all the groups to which each one belongs, for all users meeting the \"query\" criterion",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#\/definitions\/Tuleap\\User\\REST\\v1\\UserMembershipRepresentation"
              }
            }
          },
          "400": { "description": "Bad Request" }
        },
        "security": [{ "api_access_key": [] }]
      }
    },
    "\/project_fields": {
      "get": {
        "operationId": "retrieveTuleap\\REST\\v1\\ProjectFieldsResource",
        "tags": ["project_fields"],
        "parameters": [
          {
            "name": "limit",
            "type": "integer",
            "format": "int64",
            "default": 10,
[...]
